body {
    background-color: #F7FFCC;
    color: #003300;
    font-family: sans-serif;
}

.zonderbolletjes {
    list-style: none;
    margin-bottom: 0.2em;
    padding: 0;
}

.zonderbolletjes li {
    display: inline;
    margin-right: 0.2em;
}

.genreTable tbody tr:nth-child(odd) {
    background-color: lemonchiffon;
}

.genreTable tbody tr:nth-child(even) {
    background-color: gainsboro;
}

.genreTable thead tr, tfoot tr {
    background-color: khaki;
    font-weight: bold;
}
.genreTable thead tr{
    text-align: center;
}

.genreTable td{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.genreTable tr td.rightb{
    text-align: right;
}
.genreTable tr td.leftb{
    text-align: left;
}
/*.genreTable tr{
    text-align: left;
}*/


#logoutbutton {
    background: none;
    border: none;
    display: inline;
    margin:inherit;
    margin-left:0.5em;
    margin-right:0.5em;
    padding:0;
    font:inherit;
    cursor:pointer;
    height:1.8em;
    font-weight: bold;
}

h1 {
    clear: both;
}

label {
    cursor: pointer;
}

input, select {
    display: block;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

input:focus, textarea:focus, select:focus {
    background-color: #FFFFD6
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

label span, .fout {
    background-color: red;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

label span:empty, .fout:empty {
    display: none;
}

a {
    color: black;
}

dt {
    /*clear:left;*/
    float: left;
    margin-top: 1em;
}

dd {
    clear:left;
    margin-left: 0em;
    font-weight: bold;
}

.center {
    text-align: center;
}
.verwijderenButton button {
    font-size: 0.5em;
    cursor: pointer;
    vertical-align: top;
}
