<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/cultuurhuis.ico}" type="image/x-ico">
    <link rel="stylesheet" th:href="@{/css/cultuurhuis.css}">
</head>
<body>
<nav th:fragment="menu">
    <ul class="zonderbolletjes">
        <li><a th:href="@{/}">Voorstellingen</a></li>
        <li th:if="${stateMandje.gevuld}"><a th:href="@{/}">Mandje</a></li>
        <li th:if="${stateMandje.gevuld}"><a th:href="@{/}">Bevestigen</a></li>
    </ul>
</nav>
</body>
</html>