<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'cultuurhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Nieuwe klant <img th:src="@{/images/nieuweklant.png}" alt="nieuweklant"></h1>
<!--<form th:action="@{/}" method="post" th:object="${}">-->
<!--    <label>Voornaam <span th:errors="*{naam}"></span>-->
<!--        <input th:field="*{naam}" autofocus required></label>-->
<!--    <label>Familienaam <span th:errors="*{naam}"></span>-->
<!--        <input th:field="*{naam}" autofocus required></label>-->
<!--    <label>Straat <span th:errors="*{straat}"></span>-->
<!--        <input th:field="*{straat}" required></label>-->
<!--    <label>Huisnummer <span th:errors="*{huisNr}"></span>-->
<!--        <input th:field="*{huisNr}" required></label>-->
<!--    <label>Postcode <span th:errors="*{postCode}"></span>-->
<!--        <input th:field="*{postCode}"></label>-->
<!--    <label>Gemeente <span th:errors="*{gemeente}"></span>-->
<!--        <input th:field="*{gemeente}" required></label>-->
<!--    <label>Gebruikenaam <span th:errors="*{gemeente}"></span>-->
<!--        <input th:field="*{gemeente}" required></label>-->
<!--    <label>Paswoord <span th:errors="*{gemeente}"></span>-->
<!--        <input th:field="*{gemeente}" required></label>-->
<!--    <label>Herhaal paswoord <span th:errors="*{gemeente}"></span>-->
<!--        <input th:field="*{gemeente}" required></label>-->
<!--    <button>OK</button>-->
<!--</form>-->
</body>
</html>

